@layer reset,
general-layout,
base,
specific,
unique,
media;

/* reset is only the CSS to reduce the effect of UAS, the base for all our webpage, the specific for more concrete stuff, and unique for extraordinary overriding code*/


@import "css-reset.css"layer(reset);

/*
font-family: 'Cinzel', serif;
font-family: 'PT Serif', serif;
*/

@import "variables.css"layer(base);
@import "specific.css"layer(specific);
/*esto tendria que estar en la layer specific, pero no pueddo declarar layers en otro orden si la delcaro aqui, import debe ir primero?*/


/*#########################   BODY & REGLAS GENERALES   ##########################################*/

@layer general-layout {
    :root {
        --nav-height: 12vh;
        --main-height: 72vh;
        --footer-height: 16vh;
    }

    header {
        height: var(--nav-height);
        width: 100%;
        max-width: 100vw;
        position: fixed;
        top: 0px;
        z-index: 3;
    }

    main {
        min-height: var(--main-height);
    }

    footer {
        height: var(--footer-height);
        position: relative;
        z-index: 3;
        width: 100vw;
    }
}

@layer base {
    body {
        position: absolute;
        background-color: var(--body-bg-color);
        background-image: var(--body-bg-image);
        background-size: auto;
        overflow: overlay;
        overflow-x: hidden;
        scroll-behavior: smooth;
        max-width: 100vw;
        width: 100%;
        min-height: 100vh;
        min-width: 100vw;
    }

    ::selection {
        background: var(--theme-80contrast);
        color: var(--theme-mincontrast);
    }

    a::selection {
        color: var(--a-selected-color);
    }

    :focus {
        z-index: 4;
        outline: none;
    }



    /*scroll en general*/
    ::-webkit-scrollbar {
        width: 19px;
        z-index: 4;
    }

    /*scroll, fons*/
    ::-webkit-scrollbar-track {
        background: #00000000;
    }

    /*scroll, barra*/
    ::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        background-color: hsla(0, 0%, 70%, 0.7);
        border: 6px solid rgba(0, 0, 0, 0);
        border-radius: 9999px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background-color: hsl(0, 0%, 60%);
    }

    header *,
    input,
    button,
    [id="filterbox"] *,
    img {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
    }






    /*#########################   NAVEGACIÓ   #############################*/


    header {
        background-color: var(--nav-bg-color);
        background-image: var(--nav-bg-image);
        background-size: 70%;
        box-shadow: var(--nav-shadow);
    }

    /*llista de botons de navegacio*/
    header>nav {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
        height: var(--nav-height);
        margin-inline: 1.7vw;
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
    }

    body {
        color: var(--p-color);
    }

    main {
        display: flex;
        justify-content: center;
        width: 100vw;
        margin-top: var(--nav-height);
        height: fit-content;
        z-index: 5;
    }

    main>:is(div, article) {
        position: relative;
        background-image: var(--content-bg-image);
        width: 90%;
        margin-top: 10vh;
        padding: 10px;
        box-shadow: var(--nav-shadow);
    }

    main>article>section {
        margin-bottom: 40px;
    }

    main>article:first-child {
        margin-top: 3vh;
    }

    main>article:only-child {
        min-height: 50vh;
        margin-bottom: 2vh;
    }

    main>:is(div, article):empty {
        display: none;
    }

    main>article:not(:only-child):last-child {
        margin-bottom: 5vh;
    }

    h1, h2, h3, h4, h5 {
        color: var(--h-color);
        font-family: var(--h-font);
    }

    h1 {
        font-size: var(--h1-size);
        text-align: center;
    }

    h2 {
        font-size: var(--h2-size);
    }

    h3 {
        font-size: var(--h3-size);
    }

    h4 {
        font-size: var(--h4-size);
    }

    h5 {
        font-size: var(--h5-size);
    }

    p,
    label,
    textarea {
        color: var(--p-color);
        font-family: var(--p-font);
        font-size: var(--p-size);
    }

    img {
        font-size: var(--span-size);
    }

    span {
        color: var(--p-color);
        font-family: var(--p-font);
        font-size: var(--span-size);
    }

    span[class*="material-symbols"] {
        color: white;
    }

    a {
        color: var(--a-color);
        font-family: var(--p-font);
        font-size: var(--p-size);
        text-decoration: unset;
        background: linear-gradient(90deg, var(--theme-maxcontrast), var(--theme-maxcontrast)) left bottom 0px 2px no-repeat;
        transition: ease-out 200ms;
        transition-property: background-size;
        -webkit-transition: ease-out 200ms;
        -moz-transition: ease-out 200ms;
        -ms-transition: ease-out 200ms;
        -o-transition: ease-out 200ms;
    }

    button>a {
        color: inherit;
    }

    /* enllaços al contingut principal quan hover*/
    main a:is(:hover, :focus) {
        color: var(--a-selected-color);
        filter: brightness(70%);
        background-size: 100% 2px;
    }


    textarea {
        resize: vertical;
        width: 100%;
        box-shadow: inset 0 0 5px 0;
        min-height: 100px;
        max-height: 500px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }


    dropdown {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: var(--parent-height);
        right: 0;
        width: max-content;
        height: auto;
        background-color: inherit;
        z-index: 5;
    }

    dropdown[data-collapsed="yes"] {
        display: none;
    }

    .dropdown-parent {
        display: flex;
        align-items: center;
        text-align: center;
        position: relative;
        height: 100%;
    }




}


@layer specific {


    header>.dropdown-button {
        padding-inline: 1em;
        color: var(--nav-color);
        font-size: calc(var(--nav-font-size) + 5px);
        font-family: var(--header-font-family);
        font-weight: 600;
        pointer-events: none;
    }

    header dropdown {
        --parent-height: var(--nav-height);
        background-color: var(--dropdown-bg-color);
    }

    dropdown a {
        color: var(--nav-color);
        font-size: var(--span-size);
    }

    #user-dropdown-button {
        background: unset;
        backdrop-filter: brightness(110%);
    }


    .nav-link {
        background-color: unset;
        display: flex;
        align-items: center;
        text-align: center;
        height: 100%;
        padding-inline: .5em;
        color: var(--nav-color);
        font-size: var(--nav-font-size);
        font-family: var(--h-font);
        font-weight: 600;
    }

    /*enllaços de navegacio quan hover o focus si la navegacio te fons opac*/
    :where(.dropdown-parent, .nav-link:not(.logo)):is(:hover, :focus) {
        backdrop-filter: brightness(var(--nav-link-bg-hover));
        z-index: 100;
    }

    .nav-link.clicked,
    .nav-link.active {
        backdrop-filter: brightness(170%);
    }

    .logo {
        position: absolute;
        left: 0px;
        width: unset;
        max-width: 5.8vw;
        min-width: 70px;
        padding: 0;
        margin-block: auto;
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
        height: 90%;
        aspect-ratio: 100/111;
    }

    .logo [alt="Logo"] {
        height: 100%;
        width: 100%;
    }

    .logo:is(:hover, :focus) [alt="Logo"] {
        filter: drop-shadow(0 0 3px var(--nav-color));
    }


    .float-right {
        position: absolute;
        right: 0px;
        display: flex;
    }

    .float-right>* {
        z-index: 4;
        background: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--nav-height);
        width: var(--nav-height);
        border: unset;
    }
}

@layer unique {

    [id="boto-navegacio"] {
        background: unset;
        height: 30px;
        width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: unset;
        border: 0;
    }

    [id="boto-navegacio"] div {
        background: var(--theme-maxcontrast);
        width: 100%;
        height: .2em;
        transition: all 0.5s;
        transform-origin: left;
    }

    [id="boto-navegacio"].active div:nth-child(2) {
        opacity: 0;
    }

    [id="boto-navegacio"].active div:first-child {
        transform: translateX(2px) rotate(45deg);
        width: 120%;
    }

    [id="boto-navegacio"].active div:last-child {
        transform: translateX(2px) rotate(-45deg);
        width: 120%;
    }

    [id="boto-navegacio"] {
        box-shadow: unset;
    }

    .nav-button {
        background: unset;
        height: var(--nav-height);
        width: max-content;
        box-shadow: unset;
    }


    .theme-dropdown {
        gap: 10px;
        padding: 10px;
    }

    nav .theme-button svg {
        height: 25px;
        width: 25px;
        pointer-events: none;
        fill: var(--accent-color);
    }

    nav .theme-button:hover svg {
        fill: var(--secondary-accent-color);
        filter: drop-shadow(0 0 0.75rem var(--theme-maxcontrast));
    }

    [id="theme-dropdown"] button {
        text-shadow: none;
        color: rgb(104, 108, 90);
    }

    [id="theme-dropdown"] button:hover {
        text-shadow: none;
    }

    #clar:enabled {
        --button-bg: white;
        color: hsl(0, 0%, 20%);
    }

    #fosc:enabled {
        --button-bg: hsl(0, 0%, 20%);
        color: hsl(0, 0%, 80%);
    }

    #pergami:enabled {
        background-image: var(--scroll);
        color: #58180d;
    }

    #lgbt:enabled {
        background-image: linear-gradient(red, magenta, blue, cyan, limegreen, yellow, orange, red);
    }

}




/*#########################   CONTENINDO PRINCIPAL   #############################*/

@layer base {
    [id="contingut"]:empty {
        /* ara mateix hem d'arreglar el html per que el que hi ha dins de contingut sigui una template fora, i aquesta regla es compleixi*/
        display: none;
    }

    .article {
        position: relative;
        margin-bottom: 20px;
    }

    .date {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    .missatge {
        /*missatges d'error als formularis de login*/
        width: 100%;
        height: 100%;
        position: absolute;
        top: 46%;
        text-align: center;
    }

    .iframe {
        margin-inline: auto;
        height: 300px;
        min-width: 300px;
        overflow: hidden;
    }

    iframe {
        border-radius: 10px;
        border: 2px solid var(--theme-maxcontrast);
        aspect-ratio: 1;
    }

    .image-holder {
        font-size: var(--p-size);
        max-width: 20vw;
        margin-right: .5em;
        height: max-content;
        overflow: hidden;
        border-radius: 10px;
    }

    .image-holder img {
        min-width: 100%;
        min-height: 100%;
    }

    .image-holder img,
    .logo [alt="Logo"] {
        transition: 250ms ease-in-out;
    }

    .image-holder img:is(:hover, :focus),
    .logo [alt="Logo"]:is(:hover, :focus) {
        scale: 1.1;
    }
}



/*##############################   ESPECIALS   #################################*/
@layer unique {
    [id="pujar"] {
        display: block;
        position: fixed;
        bottom: 100px;
        right: 50px;
        width: 40px;
        aspect-ratio: 1;
    }

    [id="pujar"] {
        border-radius: 100%;
        z-index: 4;
    }


    /*toast message pop up*/
    #toast {
        position: fixed;
        bottom: 20vh;
        left: 50vw;
        transform: translateX(-50%);
        display: none;
        width: fit-content;
        max-width: 50ch;
        background: grey;
        color: white;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        padding: 5px 10px;
        box-shadow: 0 0 5px white;
        z-index: 100;
    }

    @keyframes toast {

        0%,
        100% {
            opacity: 0;
        }

        20%,
        80% {
            opacity: 1;
        }
    }

    #toast.visible {
        display: block;
        animation: toast 2500ms ease 0s 1 normal forwards;
        -webkit-animation: toast 2500ms ease 0s 1 normal forwards;
    }
}


/*#################################   FORMULARIS   #################################*/


@layer base {

    /* base per botons actius o inactius */

    :where(button, [type="button"], [type="submit"]) {
        background: var(--button-bg, yellow);
        font-size: var(--button-font-size, 20px);
        border-radius: 7px;
        padding: .2em .5em;
        border: none;
        font-weight: bolder;
        min-height: 27px;
        letter-spacing: 0.1em;
        text-shadow: 1px 2px 2px #000;
        box-shadow: 1px 2px 5px #000;
        color: white;
        transition-duration: 200ms;
    }



    :where(button, [type="button"], [type="submit"]):disabled {
        text-shadow: unset;
        box-shadow: unset;
        filter: saturate(30%);
    }


    input[type="file"] {
        border: none;
        width: 300px;
        background: none;
        color: var(--theme-maxcontrast);
    }

    /* base botons actius quan hover*/
    :where(button, [type="button"], [type="submit"]):enabled:where(:hover, :focus) {
        border-radius: 10px;
        text-shadow: 1px 1px 2px #000;
        box-shadow: 1px 1px 3px #000;
    }

    :where(button, [type="button"], [type="submit"]).rodo {
        aspect-ratio: 1;
        padding: 0 !important;
        border-radius: 100px;
    }

    /*botons verds, que afegeixen alguna cosa i son "segurs"*/
    .constructiu,
    input[type="file"]:valid::file-selector-button {
        --button-bg: var(--constructiu, green);
    }

    /*botons verds quan hover o focus*/
    .constructiu:is(:hover, :focus),
    input[type="file"]:valid:is(:hover, :focus)::file-selector-button {
        --button-bg: var(--constructiu-hover, #00b300);
    }

    /*botons vermells, que eliminen alguna cosa i son "perillosos"*/
    .destructiu,
    input[type="file"].error:invalid::file-selector-button {
        --button-bg: var(--destructiu, red);
    }

    /*botons vermells quan hover o focus*/
    .destructiu:enabled:is(:hover, :focus) {
        --button-bg: var(--destructiu-hover, #ff3333);
    }

    /*botons neutres, que no afegeixen ni eliminen*/
    .neutre,
    input[type="file"]:invalid::file-selector-button {
        --button-bg: var(--neutre, #1a1a1a);
    }

    /*botons neutres quan hover o focus*/
    .neutre:enabled:is(:hover, :focus),
    input[type="file"]:invalid:is(:hover, :focus)::file-selector-button {
        --button-bg: var(--neutre-hover, #333333);
    }




    /*inputs de tipus text, password, i tal, mai botons*/
    input:is([type="text"], [type="email"], [type="password"]) {
        position: relative;
        background-color: var(--input-bg, #ffdda3);
        box-shadow: inset 0 0 5px 0;
        border: unset;
        max-width: fit-content;
        margin-bottom: 10px;
        border-radius: 3px;
    }

    div:has(input:required)>label:not(.sense-asterisc)::before {
        /* asterisc de required field */
        content: '* ';
        color: red;
        font-size: 20px;
        position: absolute;
        right: -20px;
        pointer-events: all;
    }

    form label {
        pointer-events: none;
    }

    /*inputs de text o de data o arxiu erronis*/
    input:is(:not(:placeholder-shown, [type="date"], [type="file"], :focus):invalid, :out-of-range),
    input:-internal-autofill-selected:invalid,
    input.error:is([type], [name]) {
        --input-bg: var(--input-bg-incorrect);
        outline: 1px solid var(--input-border-incorrect);
        box-shadow: unset;
        animation: shake 0.5s;
        animation-iteration-count: 1;
        -webkit-animation: shake 0.5s;
    }

    @keyframes shake {

        0%,
        100% {
            translate: 0px;
        }

        20%,
        60% {
            translate: 4px;
        }

        40%,
        80% {
            translate: -4px;
        }
    }

    /*inputs quan escrius*/
    input:is([type="text"], [type="number"], [type="password"], [type="email"]):focus {
        --input-bg: var(--input-bg-focus);
        outline: 1px solid var(--input-border-focus);
        box-shadow: unset;
    }


    /*inputs quan son bons*/
    input:not(:placeholder-shown, [type="radio"], [type="checkbox"], [type="submit"]):valid,
    input:not([type="radio"], [type="checkbox"]):-internal-autofill-selected:valid {
        --input-bg: var(--input-bg-correct);
        outline: 1px solid var(--input-border-correct);
        box-shadow: unset;
    }


    :is([type="checkbox"], [type="radio"]) {
        scale: 2;
        margin-inline: 1em;
        accent-color: var(--accent-color);
    }

    select {
        max-width: 200px;
        border-radius: 12px;
        padding-block: 5px;
        border: 1.5px solid var(--theme-maxcontrast);
    }

    label {
        position: relative;
    }

    /*missatge d'error*/
    label.error::after {
        display: block;
        position: absolute;
        left: 0px;
        top: 56px;
        content: attr(data-error-message);
        width: 200px;
        height: fit-content;
        font-size: calc(var(--p-size) * 0.7);
        color: red;
        pointer-events: all;
    }

    .double-column {
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: space-evenly;
    }

    label+div label,
    .form-check>label {
        color: var(--p-color);
        font-size: var(--p-size);
    }

    /*################   FILTRES   #################*/

    [id="filterbox"] {
        margin-top: 10px;
        width: 70%;
        margin-bottom: 20px;
    }

    [id="filterbox"]>div {
        width: 80%;
    }

    [id="filterbox"] label {
        width: 100%;
        text-align: center;
    }

    /*#########################   TAULES   #############################*/

    table {
        --border-table: 1px solid var(--theme-maxcontrast);
        z-index: 5;
        min-width: 300px;
        border-collapse: collapse;
        color: var(--p-color);
        width: 100%;
    }

    thead {
        border-bottom: var(--border-table);
    }

    th {
        font-size: var(--p-size);
        font-weight: var(--p-weight-bold);
        padding: 0 5px;
    }

    tr:not(:last-child) {
        border-bottom: var(--border-table);
    }

    .pergami tbody tr:nth-child(odd) {
        background-color: var(--PHB-td-color);
    }

    tr {
        height: max-content;
    }

    td:not(:has(*)) {
        padding-inline: 5px;
        height: 100%;
    }

    .Vocals {
        max-width: 250px;
    }

    .eleccions td:not(:has(select, button:not(.hidden))):has(*),
    table:has(.editant) th:empty {
        display: none;
    }

    td {
        position: relative;
        text-align: center;
        font-size: var(--td-size);
    }

    td:empty::after {
        content: '-';
        width: 100%;
        height: 100%;
        top: 4px;
        left: 0px;
        position: absolute;
        display: block;
    }

    /*########################   FLEX & GRID   ###################*/

    .row {
        display: flex;
        flex-direction: initial;
    }

    .around {
        display: flex;
        justify-content: space-around;
    }

    .between {
        display: flex;
        justify-content: space-between;
    }

    .evenly {
        display: flex;
        justify-content: space-evenly;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .align {
        display: flex;
        align-items: center;
    }

    .column {
        display: flex;
        flex-direction: column;
    }

    .gap {
        gap: 30px;
    }

    .grid {
        display: grid;
    }
}


@layer unique {

    .hidden {
        display: none;
    }
}

@layer base {

    /*#########################   FOOTER   #############################*/
    footer {
        background-color: var(--nav-bg-color);
        background-image: var(--footer-bg-image);
        background-size: 70%;
        color: var(--footer-p-color);
        text-align: center;
        box-shadow: var(--nav-shadow);
        align-items: flex-start;
    }

    footer section {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    footer h3 {
        color: var(--nav-color);
    }

    footer a {
        background-image: linear-gradient(90deg, var(--secondary-accent-color), var(--secondary-accent-color));
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: 0px 2px;
        font-size: var(--span-size);
        transition: ease-out 200ms;
        transition-property: background-size;
    }

    footer a:is(:hover, :focus) {
        background-size: 100% 2px;
    }

    footer span,
    footer label {
        color: inherit;
    }
}

@layer specific {
    .socis {
        position: absolute;
        top: -50px;
        right: 20px;
    }
}


/*#########################   MEDIA QUERIES   ##########################################*/

@layer media {


    /*#########################   PARA PC   #############################*/
    @media screen and (min-width: 900px) {
        [id="boto-navegacio-parent"] {
            display: none;
        }

        .pc-row-mobile-column {
            display: flex;
            flex-direction: row;
            gap: 30px;
        }

        .pc-column-mobile-row {
            display: flex;
            flex-direction: column;
        }
    }

    /* ########################################################     PARA MOVIL      ##################################*/
    /*#########################   FUENTES   #############################*/
    @media screen and (max-width: 900px) {
        :root {
            --nav-font-size: 20px;
            --h1-size: 30px;
            --h2-size: 25px;
            --h3-size: 20px;
            --h4-size: 17px;
            --p-size: 12px;
        }
    }

    /*#########################   MAQUETACIÓ(LAYOUT)   #############################*/



    @media screen and (max-width: 900px) {
        p {
            font-style: normal;
            padding-left: 10px;
        }

        :root {
            --nav-height: 10vh;
        }

        .logo {
            max-width: unset;
            min-width: unset;
        }

        nav {
            flex-direction: row;
            justify-content: flex-start;
        }


        .nav-link:not(.logo) {
            align-items: flex-start;
            width: 100%;
            justify-content: center;

        }

        .theme-button {
            width: 50px;
        }

        .main-content>div,
        .main-content>article {
            width: 90%;
            padding: 10px 20px;
        }



        .main-content>article {
            min-height: 10vh;
        }

        .llistaelements {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 5vh;
            margin-bottom: 20px;
        }

        .element {
            margin-bottom: 0;
            height: 40vh;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .element h3 {
            max-width: 90%;
        }

        .element p {
            line-height: var(--p-size);
        }

        .contingut {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            min-height: 150px;
            width: 100%;
        }

        .image-holder {
            width: 50vw;
            max-width: 100px;
            margin-right: 0.5em;
        }

        .detalls {
            justify-content: center;
            text-align: center;
            align-items: center;
            width: 80%;
        }

        .nom {
            text-align: center;
        }

        .filter-parent {
            display: flex;
            flex-direction: column;
        }

        .pc-row-mobile-column {
            display: flex;
            flex-direction: column;
        }

        .pc-column-mobile-row {
            display: flex;
            flex-direction: column;
        }

        footer {
            --h3-size: 17px;
            --h4-size: 15px;
            --p-size: 12px;
        }


        div.ludoteca {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }

    }

}

@layer specific {
    .loading-parent {
        position: absolute;
        display: flex;
        align-items: flex-start;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--body-bg-color);
        width: 400px;
        height: 20px;
        border-radius: 20px;
        overflow: hidden;
        border: 1px solid var(--theme-90contrast);
    }

    .loading-parent::after {
        content: 'carregant el contingut...';
        display: block;
        position: absolute;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        mix-blend-mode: difference;
    }

    .loading {
        width: 100%;
        height: 100%;
        background: var(--theme-maxcontrast);
        animation: load 5s cubic-bezier(.31, 1.03, .98, .47) 1;
        border-radius: inherit;
    }

    @keyframes load {
        0% {
            width: 0%;
        }

        100% {
            width: 100%;
        }
    }
}





/*########################################   PROVES   #########################################*/


@layer specific {
    #juntanavbar {
        --a: calc(var(--n) + 1.5);
        /*if it goes in the bottom, make sure to position everything correctly and put orientation on -1*/
        --orientation: -1;
        --rot: calc(90deg / var(--a) * var(--orientation) * var(--element));

        display: flex;

        position: fixed;
        bottom: 0;
        left: 0;
        width: var(--radius);
        height: var(--radius);
        isolation: isolate;
        transform-origin: bottom left;
        transition: all 1s;
        rotate: 90deg;
        z-index: 4;
    }

    #juntanavbar>* {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: var(--button-diameter);
        text-align: center;
        width: var(--button-diameter);
        background: var(--nav-bg-color);
        background-image: var(--nav-bg-image);
        border-radius: 100%;
        padding: unset;
        color: var(--nav-color);
        position: absolute;
        bottom: 0;
        left: var(--radius);
        translate: -50% 50%;
        transform-origin: calc(var(--radius) * -1) bottom;
        isolation: isolate;
        outline: 1px solid var(--nav-color);
    }

    #juntanavbar>a:is(:hover, :focus):after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 99;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        backdrop-filter: brightness(150%);
    }

    #juntanavbar>a:is(:hover, :focus) span.material-symbols-rounded {
        scale: 1.5;
    }

    #juntanavbar>a:is(:hover, :focus) span:not(.material-symbols-rounded) {
        margin-top: 0;
    }


    #juntanavbar> :first-child {
        --element: 1;
        --rot: calc(90deg / var(--a) * var(--orientation) * var(--element));
        rotate: var(--rot);
    }

    #juntanavbar> :nth-child(2) {
        --element: 2;
        --rot: calc(90deg / var(--a) * var(--orientation) * var(--element));
        rotate: var(--rot);
    }

    #juntanavbar> :nth-child(3) {
        --element: 3;
        --rot: calc(90deg / var(--a) * var(--orientation) * var(--element));
        rotate: var(--rot);
    }

    #juntanavbar> :nth-child(4) {
        --element: 4;
        --rot: calc(90deg / var(--a) * var(--orientation) * var(--element));
        rotate: var(--rot);
    }

    #juntanavbar> :nth-child(5) {
        --element: 5;
        --rot: calc(90deg / var(--a) * var(--orientation) * var(--element));
        rotate: var(--rot);
    }

    #juntanavbar> :nth-child(6) {
        --element: 6;
        --rot: calc(90deg / var(--a) * var(--orientation) * var(--element));
        rotate: var(--rot);
    }



    #juntanavbar[data-collapsed="no"] {
        rotate: 0deg;
    }

    #juntanavbar .anti-rotate {
        rotate: calc(var(--rot) * -1);
    }

    #juntanavbar span {
        font-size: 0.8vw;
        margin-top: -5px;
        height: min-content;
        color: var(--nav-color);
        transition: all 200ms;
    }



    #juntanav-button {
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 5;

        height: 20px;
        aspect-ratio: 1;
        border-radius: 100%;
        padding: unset;
    }
}