/* # El css esta separat per pagines amb comentaris com el següent, i esta importat a la layer specific*/



/*###############################   MEMBRE.php   ##############################*/
.user-image {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100%;
    isolation: isolate;
    background: grey;

    outline: 5px solid black;
    box-shadow: 0 0 0 5px #000;
}

user .user-image img {
    width: 100%;
    height: 100%;
    transition: scale 200ms;
}

.user-image:after {
    content: '';
    display: block;
    background-color: #e5e5e587;
    background-image: url(https://cdn-icons-png.flaticon.com/512/266/266146.png);
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    background-position: center center;
    background-size: 25%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 200ms;
}

.user-image:hover:after {
    opacity: 1;
}

.botons {
    height: 25px;
    margin-left: 20px;
}

.botons *:not(:first-child) {
    margin-left: 20px;
}

#login {
    margin-top: 20px;
}






#user-menu a {
    position: relative;
    padding: 5px;
    transition-duration: 100ms;
}

#user-menu a:is(:hover, :focus) {
    color: var(--secondary-accent-color);
}

/* #########################   FEEDBACK AND FAQ   #######################*/

details>summary {
    line-height: 2em;
    border-bottom: 1px solid grey;
    font-weight: 900;
}

details[open]+details>summary {
    border-top: 1px solid grey;
}

details>p {
    padding-left: 20px;
}








/* #########################   LOGIN   #######################*/


[id="loginform"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#missatgelogin {
    position: absolute;
    bottom: 5px;
}


/* #############################   LUDOTECA    #############################*/


section.ludoteca .image-container {
    position: relative;
    max-width: unset;
    height: auto;
    isolation: isolate;
}

section.ludoteca .image-container:after {
    display: block;
    content: attr(data-title);
    width: 100%;
    background: rgba(128, 128, 128, 0.612);
    color: white;
    font-size: 30px;
    height: 30%;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
}

section.ludoteca {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 50px;
    height: 50vh;
}

.question {
    position: relative;
    display: inline-block;
    margin: 1em 0;
    padding-left:15px;
}

.question:before {
    display: block;
    content: '';
    position: absolute;
    left: 0px;
    top: 12px;
    width: 7px;
    height: 7px;
    background-color: #000;
    border-radius: 100%;
}

.question+p {
    padding-left: 25px;
}


.jocmanual-pare {
    width: 60%;
}

.element-copia {
    width: 400px;
    margin-bottom: 20px;
}

.llistaelements {
    --column-gap: calc((80vw - (300px * 3)) / 4);
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: var(--column-gap);
    row-gap: 5vh;
    width: fit-content;
    margin-bottom: 20px;
}

@media screen and (max-width: 1320px) {
    .llistaelements {
        --column-gap: calc((80vw - (300px * 2)) / 3) grid-template-columns: repeat(2, 300px);
    }
}

@media screen and (min-width: 1980px) {
    .llistaelements {
        --column-gap: calc((80vw - (300px * 4)) / 5) grid-template-columns: repeat(4, 300px);
    }
}

@media screen and (min-width: 2500px) {
    .llistaelements {
        --column-gap: calc((80vw - (300px * 5)) / 6) grid-template-columns: repeat(5, 300px);
    }
}

.element {
    width: 100%;
    margin-bottom: 30px;
}

.element:not([Id]) {
    display: none;
}

.element h3 {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: min-content;
    text-overflow: ellipsis;
}

.element-copia .boto-reserva:nth-of-type(2):not([Id]) {
    display: none;
}



.contingut:not(:empty) {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    min-height: 150px;
    width: 300px;
}

.detalls:not(:empty) {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 70%;
    min-width: 100px;
    line-height: 1em;
}

.detalls>p {
    font-size: calc(var(--p-size) * 0.7);
    padding: 2px 5px;
    width: 100%;
    word-wrap: break-word;
}

.detalls .dificultat {
    display: block;
    color: hsl(0, 0%, 0%);
    font-weight: bolder;
    padding: 0 10px;
    border-radius: 3px;
    margin-left: 10px;
    width: fit-content;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.detalls .dificultat[name^="f"] {
    background: limegreen;
}

.detalls .dificultat[name^="mi"] {
    background: rgb(223, 223, 6);
}

.detalls .dificultat[name^="dif"] {
    background: orange;
}

.detalls .dificultat[name^="mo"] {
    background: red;
}

/*#############################   GESTIO    #############################*/

.gestiojocs article {
    padding-inline: 100px;
    gap: 20vw;
}


/*#############################   SOBRENOSALTRES.PHP   #############################*/

.junta {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.juntari {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.juntari .image-container {
    width: 15vw;
    aspect-ratio: 1;
    background-color: grey;
}

/*#############################   COMISSIONS.PHP   #############################*/

.card {
    background: rgb(248, 221, 162);
    border-radius: 20px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    aspect-ratio: 2/1;
    box-shadow: 0 0 10px black;
}

.card h5 {
    margin-block: .1em;
}

.card .image-container {
    width: 100%;
    height: 100%;
    background: grey;
    overflow: hidden;
}

.card .image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 70%;
    padding: 0 1em 1em 1em;
}

.card .details {
    padding-inline: 5px;
}

.card p {
    font-size: var(--span-size);
}

#search-box {
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 20px;
}

#search-box button,
#search-box input {
    display: block;
    margin-block: 0;
    margin-right: 20px;
}


/*#############################   actualitat.PHP   #############################*/


.pagination ul {
    list-style: none;
}

.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    text-align: center;
    height: 2em;
    color: var(--p-color);
    border-radius: 1000px;
}

.pagination a.active {
    background-color: var(--accent-color);
    color: var(--secondary-accent-color);
}

/*#############################   error   #############################*/

.error-message {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-message h2 {
    margin-bottom: 2rem;
}


/*#############################   TEMA CLAR   #############################*/


.clar table {
    margin-block: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;
}

.clar tr {
    border-bottom: 1px solid #ddd;
}

.clar tr:nth-child(odd) {
    background-color: #fff;
}

.clar tr:nth-child(even) {
    background-color: #E7E9EB;
}

.clar td, .clar th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: center;
}

.clar th:first-child, td:first-child {
    padding-left: 16px;
}

.clar th, .clar td {
    border: none;
    text-align: left;
    padding: 8px;
}