@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&family=Mukta:wght@200;300;400;500;600;700;800&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@font-face {
  font-family: 'Day Roman';
  src:
    url('/css/day-roman.woff') format('woff'),
    url('/path-to/day-roman.ttf') format('truetype');
}

/*
Font families:

font-family: 'Cinzel', serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Mukta', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Day Roman', sans-serif;

*/




/*#########################   VARIABLES   ##########################################*/
:root {

  font-size: 10px;
  /*fonts*/
  --brand-font-size: 35px;
  --nav-font-size: clamp(16.5px, 1.2vw, 40px);

  /*family*/
  --h-font: 'Cinzel Decorative', cursive;
  --p-font: 'Day Roman', sans-serif;

  /*size*/
  --h1-size: clamp(30px, 4rem, 45px);
  --h2-size: clamp(25px, var(--h1-size) - 4px, 40px);
  --h3-size: clamp(20px, var(--h2-size) - 4px, 35px);
  --h4-size: clamp(15px, var(--h3-size) - 4px, 30px);
  --h5-size: clamp(10px, var(--h4-size) - 4px, 25px);
  --label-size: var(--h4-size);
  --p-size: clamp(18px, 2rem, 24px);
  --weight-normal: 100;
  --weight-semi: 600;
  --weight-bold: 700;
  --td-size: clamp(16px, 1.8rem, 24px);;
  --span-size:clamp(16px, 1.8rem, 24px);
  --button-font-size: clamp(16px, 1.8rem, 24px);;

  width: 100vw;
  height: 100%;
  overflow: hidden;


  --scroll: url(/img/temes/scroll.jfif);


  --tema-blau-fosc: #2986cc;
  --tema-blau-mig: #87b4dd;
  --tema-blau-clar: #cfe2f3;
  --tema-crema: #f2ece4;
}

* {
  font-family: var(--p-font);
}

body {
  /*text color*/
  --text-color-general: var(--theme-80contrast);
  --h-color: var(--text-color-general);
  --nav-color: var(--theme-80contrast);
  --p-color: var(--text-color-general);
  --a-color: var(--accent-color);
  --a-selected-color: var(--secondary-accent-color);
  --input-bg-base: hsl(0, 0%, 100%);
  --input-bg: var(--input-bg-base);
  --input-bg-correct: hsl(102, 16%, 64%);
  --input-bg-incorrect: hsl(0, 23%, 70%);
  --input-bg-focus: hsl(41, 23%, 70%);
  --input-border: var(--theme-maxcontrast);
  --input-border-incorrect: red;
  --input-border-correct: green;
  --input-border-focus: orange;
  --footer-p-color: var(--theme-90contrast);
}

body.clar {
  --theme-maxcontrast: hsl(0, 0%, 0%);
  --theme-90contrast: hsl(0, 0%, 10%);
  --theme-80contrast: hsl(0, 0%, 20%);
  --theme-70contrast: hsl(0, 0%, 30%);
  --theme-60contrast: hsl(0, 0%, 40%);
  --theme-50contrast: hsl(0, 0%, 50%);
  --theme-40contrast: hsl(0, 0%, 60%);
  --theme-30contrast: hsl(0, 0%, 70%);
  --theme-20contrast: hsl(0, 0%, 80%);
  --theme-10contrast: hsl(0, 0%, 90%);
  --theme-mincontrast: hsl(0, 0%, 100%);
  --accent-color: hsl(0, 84%, 29%);
  --secondary-accent-color: yellow;
  /*base backgrounds*/
  --body-bg-color: var(--theme-mincontrast);
  --body-bg-image: url("/img/temes/white bg.png");
  --nav-bg-color: var(--tema-blau-clar);
  --dropdown-bg-color: var(--tema-blau-clar);
  --nav-link-bg-hover: 90%;
  --nav-bg-image: none;
  /*interactive colors*/
  --button-bg-fallback: yellow;
  --destructiu: linear-gradient(150deg, hsl(0, 91%, 55%), hsl(0, 91%, 35%));
  --destructiu-hover: linear-gradient(150deg,
      hsl(0, 91%, 70%),
      hsl(0, 91%, 55%));
  --constructiu: linear-gradient(150deg,
      hsl(125, 91%, 55%),
      hsl(125, 91%, 35%));
  --constructiu-hover: linear-gradient(150deg,
      hsl(125, 91%, 75%),
      hsl(125, 91%, 55%));
  --neutre: linear-gradient(150deg, hsl(200, 91%, 65%), hsl(200, 91%, 35%));
  --neutre-hover: linear-gradient(150deg,
      hsl(200, 91%, 75%),
      hsl(200, 91%, 50%));
  --button-bg: var(--button-bg-fallback);
  --nav-link-bg-clicked: var(--theme-40contrast);
  --input-border: var(--theme-maxcontrast);
  /*text color*/
  --text-color-general: var(--theme-90contrast);
  --h-color: var(--text-color-general);
  --p-color: var(--text-color-general);
  --a-color: var(--accent-color);
  --a-selected-color: var(--secondary-accent-color);
}

body.fosc {
  --theme-maxcontrast: hsl(0, 0%, 100%);
  --theme-90contrast: hsl(0, 0%, 90%);
  --theme-80contrast: hsl(0, 0%, 80%);
  --theme-70contrast: hsl(0, 0%, 70%);
  --theme-60contrast: hsl(0, 0%, 60%);
  --theme-50contrast: hsl(0, 0%, 50%);
  --theme-40contrast: hsl(0, 0%, 40%);
  --theme-30contrast: hsl(0, 0%, 30%);
  --theme-20contrast: hsl(0, 0%, 20%);
  --theme-10contrast: hsl(0, 0%, 10%);
  --theme-mincontrast: hsl(0, 0%, 0%);
  --body-bg-color: var(--theme-20contrast);
  /*--body-bg-image: url("/img/temes/blackscroll.png");*/
  --nav-bg-color: var(--theme-10contrast);
  --dropdown-bg-color: var(--nav-bg-color);
  --button-bg-fallback: hsl(60, 70%, 50%);
  --destructiu: linear-gradient(150deg, hsl(0, 91%, 55%), hsl(0, 91%, 35%));
  --destructiu-hover: linear-gradient(150deg,
      hsl(0, 91%, 70%),
      hsl(0, 91%, 55%));
  --constructiu: linear-gradient(150deg,
      hsl(125, 91%, 55%),
      hsl(125, 91%, 35%));
  --constructiu-hover: linear-gradient(150deg,
      hsl(125, 91%, 75%),
      hsl(125, 91%, 55%));
  --neutre: linear-gradient(150deg, hsl(200, 91%, 65%), hsl(200, 91%, 35%));
  --neutre-hover: linear-gradient(150deg,
      hsl(200, 91%, 75%),
      hsl(200, 91%, 50%));
  --button-bg: var(--button-bg-fallback);
  --nav-link-bg-hover: 130%;
  --nav-link-bg-clicked: var(--theme-50contrast);
  --accent-color: hsl(170, 100%, 50%);
  --secondary-accent-color: rgb(255, 8, 8);
}

body.pergami {
  --HB-bg-color: #2c3e50;
  --PHB-bg-color: #f2ece4;
  --PHB-h1-color: #58180d;
  --PHB-td-color: #e0e5c1;
  --PHB-logo-color: #ed1c24;
  --PHB-underline-color: #f0bf48;
  --PHB-statblocklines: #9c2b1b;
  --scroll: url(/img/temes/scroll.jfif);
  --redscroll: url(/img/temes/redscroll.jpg);
  --bluescroll: url(/img/temes/bluescroll.jpg);
  --seascroll: url(/img/temes/seascroll.jpg);
  --turquoisescroll: url(/img/temes/turquoisescroll.png);
  --theme-maxcontrast: hsl(0, 0%, 0%);
  --theme-90contrast: hsl(0, 0%, 10%);
  --theme-80contrast: hsl(0, 0%, 20%);
  --theme-70contrast: hsl(0, 0%, 30%);
  --theme-60contrast: hsl(0, 0%, 40%);
  --theme-50contrast: hsl(0, 0%, 50%);
  --theme-40contrast: hsl(0, 0%, 60%);
  --theme-30contrast: hsl(0, 0%, 70%);
  --theme-20contrast: hsl(0, 0%, 80%);
  --theme-10contrast: hsl(0, 0%, 90%);
  --theme-mincontrast: hsl(0, 0%, 100%);
  --accent-color: var(--PHB-statblocklines);
  --secondary-accent-color: var(--PHB-underline-color);
  /*base backgrounds*/
  --body-bg-color: #053247;
  --body-bg-image: ;
  --content-bg-image: var(--scroll);
  --nav-bg-color: var(--PHB-h1-color);
  --dropdown-bg-color: var(--PHB-statblocklines);
  --nav-link-bg-hover: 150%;
  --nav-bg-image: var(--redscroll);
  --footer-bg-image: var(--turquoisescroll);
  --nav-shadow: 0px 0px 14px #000;
  /*interactive colors*/
  --button-bg-fallback: yellow;
  --destructiu: linear-gradient(150deg, hsl(0, 91%, 55%), hsl(0, 91%, 35%));
  --destructiu-hover: linear-gradient(150deg,
      hsl(0, 91%, 70%),
      hsl(0, 91%, 55%));
  --constructiu: linear-gradient(150deg,
      hsl(125, 91%, 55%),
      hsl(125, 91%, 35%));
  --constructiu-hover: linear-gradient(150deg,
      hsl(125, 91%, 75%),
      hsl(125, 91%, 55%));
  --neutre: linear-gradient(150deg, hsl(0, 0%, 40%), hsl(0, 0%, 20%));
  --neutre-hover: linear-gradient(150deg, hsl(0, 0%, 70%), hsl(0, 0%, 40%));
  --button-bg: var(--button-bg-fallback);
  --nav-link-bg-clicked: var(--PHB-statblocklines);
  --input-border: var(--theme-maxcontrast);
  /*text color*/
  --text-color-general: var(--theme-80contrast);
  --h-color: var(--PHB-h1-color);
  --nav-color: var(--PHB-bg-color);
  --p-color: var(--text-color-general);
  --a-color: var(--PHB-logo-color);
  --a-selected-color: var(--secondary-accent-color);
  --footer-p-color: var(--theme-10contrast);
}


/*####################   LGBT   ######################################*/
body.lgbt {
  --theme-maxcontrast: hsl(0, 0%, 0%);
  --theme-90contrast: hsl(0, 0%, 10%);
  --theme-80contrast: hsl(0, 0%, 20%);
  --theme-70contrast: hsl(0, 0%, 30%);
  --theme-60contrast: hsl(0, 0%, 40%);
  --theme-50contrast: hsl(0, 0%, 50%);
  --theme-40contrast: hsl(0, 0%, 60%);
  --theme-30contrast: hsl(0, 0%, 70%);
  --theme-20contrast: hsl(0, 0%, 80%);
  --theme-10contrast: hsl(0, 0%, 90%);
  --theme-mincontrast: hsl(0, 0%, 100%);
  --accent-color: hsl(0, 84%, 29%);
  --secondary-accent-color: yellow;
  /*base backgrounds*/
  --body-bg-color: hsl(41, 100%, 85%);
  --body-bg-image: none;
  --nav-bg-color: hsl(41, 100%, 76%);
  --dropdown-bg-color: var(--nav-bg-color);
  --nav-link-bg-hover: 90%;
  --nav-bg-image: none;
  /*interactive colors*/
  --button-bg-fallback: yellow;
  --destructiu: linear-gradient(150deg, hsl(0, 91%, 55%), hsl(0, 91%, 35%));
  --destructiu-hover: linear-gradient(150deg,
      hsl(0, 91%, 70%),
      hsl(0, 91%, 55%));
  --constructiu: linear-gradient(150deg,
      hsl(125, 91%, 55%),
      hsl(125, 91%, 35%));
  --constructiu-hover: linear-gradient(150deg,
      hsl(125, 91%, 75%),
      hsl(125, 91%, 55%));
  --neutre: linear-gradient(150deg, hsl(200, 91%, 65%), hsl(200, 91%, 35%));
  --neutre-hover: linear-gradient(150deg,
      hsl(200, 91%, 75%),
      hsl(200, 91%, 50%));
  --button-bg: var(--button-bg-fallback);
  --nav-link-bg-clicked: var(--theme-40contrast);
  --input-border: var(--theme-maxcontrast);
  /*text color*/
  --text-color-general: var(--theme-80contrast);
  --h-color: var(--text-color-general);
  --p-color: var(--text-color-general);
  --a-color: var(--accent-color);
  --a-selected-color: var(--secondary-accent-color);
}

@property --maskStart {
  syntax: "<angle>";
  inherits: false;
  initial-value: -90deg;
}

@property --maskEnd {
  syntax: "<angle>";
  inherits: false;
  initial-value: 360deg;
}

body.lgbt {
  --bg: var(--body-bg-color);
  --size: clamp(200px, 20vw, 500px);
  --start: 20%;
  --w: calc(80% / 20);
  --top: conic-gradient(from var(--maskStart, 90deg) at center,
      var(--bg) var(--maskEnd, 180deg),
      transparent 0);
  --rainbow: radial-gradient(circle at center,
      transparent var(--start),
      violet 0,
      violet calc(var(--start) + var(--w)),
      indigo 0,
      indigo calc(var(--start) + (var(--w) * 2)),
      blue 0,
      blue calc(var(--start) + (var(--w) * 3)),
      green 0,
      green calc(var(--start) + (var(--w) * 4)),
      yellow 0,
      yellow calc(var(--start) + (var(--w) * 5)),
      orange 0,
      orange calc(var(--start) + (var(--w) * 6)),
      red 0,
      red calc(var(--start) + (var(--w) * 7)),
      transparent 0);
  margin: 0;
  min-height: 100vh;
  background: var(--top), var(--rainbow), var(--body-bg-color);
  background-size: var(--size) calc(var(--size) * 0.55);
  background-position: center 5vh;
  animation: draw 4800ms forwards infinite cubic-bezier(0.33, 0.19, 0.32, 1);
}

@keyframes draw {
  40% {
    --maskStart: 90deg;
    --maskEnd: 180deg;
  }

  80% {
    --maskStart: 90deg;
    --maskEnd: 360deg;
  }
}

body.lgbt article {
  box-shadow: inset 0px 0px 0px var(--body-bg-color);
  background: hsla(41, 100%, 85%, 60%);
}